// Reset css
@import "./reset.scss";

// Variables
@import "./var.scss" ;

// Components css
@import "./Header.scss" ;
@import "./Categories.scss";
@import "./Timer.scss";



body {
    background-color: $lightblue;
}

.container{
    max-width: 100vw;
    &__medium{
        margin: 0 auto;
        max-width: 1500px;
        width: 98%;
    }
    &__small{
        margin: 0 auto;
        max-width: 1000px;
        width: 98%;
    }
}
