// Reset css
@import "./reset.scss";

// Variables
@import "./var.scss" ;

// Components css
@import "./Header.scss" ;


body {
    background-color: $lightblue;
}

.container{
    max-width: 100vw;
    &__medium{
        margin: 0 auto;
        max-width: 1500px;
        width: 98%;
    }
    &__small{
        margin: 0 auto;
        max-width: 1000px;
        width: 98%;
    }
}

.categories {
    background-color: $darkblue;
    &__buttons{
        display: flex;
        justify-content: space-around;
        &__btn{
            background-color: $darkblue;
            height: 75px;
            width: 75px;
            margin: 20px 0px;
            outline: none;
            border: none;
            color: $white;
            border-radius: 3px;
            &__icon{
                height: 50%;
                width: 80%;
            }
            &:hover{
                background-color: $mediumblue;
                transform: scale(1.05);
                cursor: pointer;
            }
            &:active{
                background-color: $mediumblue;
            }
        }
    }
}
