.article {
    display: flex;
    margin: 0 auto;
    width: 90%;
    height: 275px;
    background-color: $white;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px $lightmediumblue;
    &__heading {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        &__content {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
    &__imgholder {
        width: 375px;
        height: 275px;
        background-color: grey;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        &__img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
    }
    &__content {
        width: calc(100% - 375px);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 30px 20px;
        &__title {
            font-weight: bold;
            text-decoration: underline;
            font-size: 20px;
        }
        &__desc {
            font-size: 15px;
        }
        &__highest {
            width: 100%;
            font-size: 40px;
            color: $darkblue;
            font-weight: bold;
            text-align: end;
        }
        &__bid {
            display: flex;
            align-items: center;
            gap: 20px;
            width: 100%;
            &__btn {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 40px;
                width: 90px;
                color: $white;
                background-color: $mediumblue;
                outline: none;
                border: none;
                border-radius: 5px;
                padding: 10px;
                &__icon {
                    font-size: 25px;
                    pointer-events: none;
                }
                &__text {
                    font-size: 20px;
                }
                &:hover {
                    background-color: $lightblue;
                    cursor: pointer;
                }
            }
        }
    }
}
