.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px $lightmediumblue;
    background-color: $white;
    padding-top: 20px;
    z-index: 100;
    &__closeBtn {
        display: flex;
        justify-content: flex-end;
        & button {
            background-color: transparent;
            border: none;
            font-size: 25px;
            cursor: pointer;
            margin: 5px;
        }
    }
}
