.categories {
    background-color: $white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    &__buttons{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        &__btn{
            background-color: $white;
            height: 60px;
            width: 100px;
            margin: 5px 0px;
            outline: none;
            border: none;
            color: $mediumblue;
            &__icon{
                height: 50%;
                width: 80%;
            }
            &:hover{
               font-weight: bold;
                color: $darkblue;
                transform: scale(1.05);
                cursor: pointer;
            }
            &:active{
                background-color: $mediumblue;
            }
        }
    }
}