.categories {
    background-color: $white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    &__buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        &__btn {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $white;
            height: 60px;
            width: 100px;
            margin: 5px 0px;
            outline: none;
            border: none;
            color: $mediumblue;
            &__icon {
                font-size: 40px;
                pointer-events: none;
            }
            &:hover,
            &--active {
                font-weight: bold;
                color: $darkblue;
                transform: scale(1.05);
                cursor: pointer;
            }
            &:active {
                background-color: $mediumblue;
            }
        }
    }
}
