.modal {
    &__title {
        display: inline-block;
        text-align: center;
        font-size: 30px;
        margin-bottom: 30px;
    }
    &__userTitle {
        margin: 0 auto;
        font-size: 40px;
        color: $mediumdarkblue;
        margin-bottom: 30px;
    }
    &__bidding {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 50px;
        margin-top: 20px;
        &__text {
            width: 85%;
            margin-top: 10px;
            margin-bottom: 5px;
        }
        &__fast {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            margin-bottom: 30px;
            &__btn {
                height: 25px;
                width: 50px;
                color: $white;
                background-color: $mediumblue;
                outline: none;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }
        }
        &__input {
            display: flex;
            height: 30px;
            width: 100%;
            justify-content: space-evenly;

            &__field {
                width: 150px;
            }
            &__btn {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                height: 30px;
                width: 60px;
                color: $white;
                background-color: $mediumblue;
                outline: none;
                border: none;
                border-radius: 5px;
                padding: 10px;
                &__icon {
                    font-size: 15px;
                    pointer-events: none;
                }
                &__text {
                    font-size: 15px;
                }
                &:hover {
                    font-weight: bold;
                    background-color: $lightmediumblue;
                    cursor: pointer;
                }
            }
        }
    }
    &__bidHistory {
        display: flex;
        width: 100%;
        &__text {
            width: 75%;
            margin-left: 30px;
            color: black;
        }
        &__highest {
            width: 95%;
            height: 150px;
            align-self: center;
            & li {
                display: flex;
                justify-content: space-between;
                width: 100%;
                & p {
                    margin-right: 20px;
                    font-size: 15px;
                }
            }
        }
    }
    &__userHistory {
        display: flex;
        width: 100%;
        &__text {
            width: 75%;
            margin-left: 30px;
            color: black;
        }
        &__highest {
            width: 95%;
            height: 300px;
            align-self: center;
            & li {
                display: flex;
                justify-content: space-between;
                width: 100%;
                & p {
                    margin-right: 20px;
                    font-size: 15px;
                }
            }
        }
    }
}
