.header{
    background-color: $darkblue;
    height: 100px;
    display: flex;
    align-items: center;
    &__items{
        display: flex;
        justify-content: space-between;
        &__text{
            color: $white;
            font-size: 40px;
            & span{
                font-weight: bold;
                color: $lightblue
            }
        }
        &__links{
            display: flex;
            width: 400px;
            justify-content: flex-end;
            align-items: center;
            gap: 30px;
            & .link{
                font-size: 20px;
                text-decoration: none;
                color: $white;
                &:hover{
                    color: $lightblue;
                }
            }
            & p{
                color: $white;
                font-size: 20px;
            }
            & span{
                color: $lightblue
            }
        }
    }
}