.form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 auto;
    height: 500px;
    width: 50%;
    background-color: $white;
    margin-top: 100px;
    margin-bottom: 100px; // voorlopig om de footer wat naar beneden te duwen...

    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px $lightmediumblue;
    &__title {
        margin: 0 auto;
        margin-top: 60px;
        font-size: 40px;
        color: $mediumdarkblue;
    }
    &__input {
        flex-direction: column;
        margin: 0 auto;
        &__icon {
            color: $mediumdarkblue;
            font-size: 20px;
        }
        &__icon2 {
            color: transparent;
            background-color: transparent;
            font-size: 20px;
        }
        &__inputfield {
            font-size: 20px;
            width: 250px;
            border: none;
            outline: none;
            border-bottom: 1px solid $lightmediumblue;
            font-family: initial;
            color: $mediumdarkblue;
        }
        ::placeholder {
            color: $lightgrey;
        }
    }
    &__btn {
        margin: 0 auto;
        width: 150px;
        height: 40px;
        color: $white;
        background-color: $mediumblue;
        font-family: initial;
        outline: none;
        border: none;
        border-radius: 15px;
        padding: 10px;
        &:hover {
            font-weight: bold;
            background-color: $lightmediumblue;
            cursor: pointer;
        }
    }
    &__goto {
        margin: 0 auto;
        color: $mediumblue;
        & a {
            text-decoration: none;
        }
    }
}
