// Color: blue

$lightblue: #a8dadc;
$lightmediumblue: #77abbd;
$mediumblue: #457b9d;
$mediumdarkblue: #31587a;
$darkblue: #1d3557;

// color: white

$white: #f1faee;

// color: red

$red: #e63946;

// color placeholder: lightgray

$lightgrey: #a5a0a0;
